:root {
    --darkgreen: #608a5a;
    --green: #9dda92;
    /* --green2: #A9ED9D; */
    --grey: #f2f2f2;
    --darkergrey: #e1e1e1;
    --darkerergrey: #b3b1b1;
    --darkgrey: #333333;
    --corner: 10px;
}

/* 87E89F turqoise */

::selection {
    background: var(--darkergrey);
}

*{
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: var(--darkgrey);
}

body{
    margin:0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

p{
    line-height: 150%;
    padding:0px;
    margin:0px;
}

h1{
    margin:0 0 0 -0.5rem;
    padding: 0 0.5rem;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 5px;
    position:relative;
    background: var(--green);
    border-radius: 1rem;
}

mark{
    background: var(--darkergrey);
    padding:0 0.2em;
    border-radius: 1rem;
}

.hDot{
    width:2rem;
    height:2rem;
    position:absolute;
    left:-5rem; /* -2rem for main, -2 for width, -1 for spacing*/
    top: -5px;
    border-radius: 3rem;
    background-color: var(--green);
}

#contents{
    height:100%;
    position:sticky;
    background: var(--grey);
    flex-grow:1;
    padding:2rem;
}

#mainColumn{
    flex-grow: 3;
}

#main{
    margin: auto;
    position:relative;
    padding: 30px 2rem;
    max-width: 650px;
    background: var(--grey);
    border-bottom-left-radius: var(--corner);
    border-bottom-right-radius: var(--corner);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: 5px 5px 10px var(--darkergrey);
}

.titleText{
    position: relative;
    font-size: 43px;
    font-weight: bold;
    margin:auto;
    max-width: 650px;
    padding:30px 2rem;
    background: var(--green);
    border-top-left-radius: var(--corner);
    border-top-right-radius: var(--corner);
    box-shadow: 5px 5px 10px var(--darkergrey);
}

#subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 100;
    border-radius: var(--corner);
    background: var(--green);
}

h5{
    padding: 0;
    margin: 0px;
    font-weight: initial;
    font-size:medium;
}

#leftfloater{
    width:10rem;
    padding: 0.5rem;
    position: fixed;
    font-size: 0.8rem;
    background: var(--grey);
    border-radius: var(--corner);
}

@media only screen and (max-width: 550px) {
    body{
        padding: 0;
        margin:0;
    }
    #main {
        padding: 30px 1rem;
    }
    .titleText{
        padding: 30px 1rem;
    }
    #contents{
        visibility: hidden;
    }
}





.flexRow{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1em;
}

#booleanInput{
    margin: auto;
    margin-top: 1em;
    width: 70%;
    border-radius: var(--corner);
    border:none;
    outline: none;
    padding: 5px;
}

#booleanInput:focus{
    box-shadow: 5px 5px 10px var(--darkergrey);
}

#truthTableContainer{
    margin: auto;
    display: block;
}

.truthtable {
    border-collapse: collapse;
    user-select: none;
}

th{
    background: var(--green);
}

tr{
    height:1px;
}

th, td{
    width: 2em;
    padding: 7px;
    text-align: center;
    z-index: 10;
    position: relative;
    height: inherit;
}

.tableDot{
    background: var(--darkergrey);
    margin:auto;
    border-radius: 10px;
    text-align: center;
    padding:0px;
}

.buttonDot{
    background: var(--green);
    margin:auto;
    border-radius: 10px;
    text-align: center;
    padding:0px;
}

.tableButton{
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position: absolute;
    border:0px;
    background: var(--grey);
}

.tableButton:active{
    border:0px;
    border-radius: 0px;
}

/* :focus{
    outline: solid var(--darkgrey);
} */

.tableButton:hover{
    text-decoration: underline;
}

#startNN{
    margin:auto;
    width: 50%;
    height:1.7em;
    border: 0px;
    display: block;
    background: var(--darkergrey);
    border-radius: var(--corner);
}

#startNN:hover{
    background: var(--green);
    box-shadow: 5px 5px 10px var(--darkergrey);
}

#errorchart{
    width:30rem;
    margin:auto;
}

li{
    line-height: 160%;
}


.imgSource, .imgSource > u{
    margin:auto;
    text-align: center;
    margin-top: 7px;
    color: var(--darkerergrey);
    font-size: 13px;
}

.focusp{
    margin:auto;
    background: var(--green);
    border-radius: var(--corner);
    padding: 0 0.5em;
    margin:0.5em auto 0.5em;
}

.problemblock{
    margin:auto;
    width:90%;
    padding-left: 1em;
    border-left:3px solid var(--darkerergrey)
}

#backtotop{
    width:3rem;
    height:3rem;
    border-radius: 1.5rem;
    border:none;
    position:absolute;
    bottom:0;
    right:-5rem;
    background: var(--darkergrey);
}

.prettyprint{
    margin:auto;
    border-radius: var(--corner);
}